@media (max-width: 1024px) {
    .container {
        padding-left: 32px;
        padding-right: 32px;
    } 
     
    .top_info {
        background-position: right 280px;
    }
    
    .card-box {
        flex-direction: column;
        align-items: center;
    }
    
    .card {
        margin-bottom: 32px;
    }
    
    .footer_info {
        flex-direction: column;  
    }
    
    .footer_botton {
        padding: 4px 31px;
    }
    
    .footer__list {
        margin-bottom: 24px;
    }
    
    
@media (max-width: 667px) {
    .header{
        padding-top: 24px;
    }
    
     .top {
        min-height: 376px;
        padding-bottom: 41px;
        box-sizing: border-box;
    }
    
    .top_info {
        padding-top: 36px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: none;
        margin-bottom: 37px;
    }
        
    .top__heading {
        width: 100%;
        font-size: 32px;
        line-height: 37px;
        margin-bottom: 12px;
        text-align: center;
    }
    
    .text_head {
        width: 100%;
        text-align: center;
    }
    
    .top__button {
        font-size: 12px;
        line-height: 26px;
        padding: 0 8px;
    }
    
    .heading3 {
        font-size: 24px;
        line-height: 28px;
    }
    
    .what-we-do {
        padding-top: 48px;
    }
    
    .card-box {
        padding-top: 32px;
    }
    
    .text_project {
        width: 100%;
    }
    
    .project__text {
        font-size: 16px;
        line-height: 19px;
        top:16px;
        right: 16px;
    }
    
    .project__text2 {
        left: 16px;
        font-size: 16px;
        line-height: 19px;
    }
    
    .project__parent {
        flex-direction: column;
        margin-top: 16px;
    }
    
    .project__item_margin {
        margin-right: 0;
        margin-bottom: 16px;
    }
    
    .footer {
        padding-top: 18px;
        padding-bottom: 32px;
        margin-top: 64px;
    }
    
    .footer_top {
        flex-direction: column;  
        padding-bottom: 41px;
    }
    
    .footer_info {
        flex-direction: column;  
    }
    
    .footer__heading {
        padding-top: 18px;
        padding-bottom: 32px;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
    }
    
    .footer__heading{
        width: 75%;
        margin: 0 auto 32px;
        text-align: center;
    }
    
    .text_footer {
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        letter-spacing: 0.05em;
        color: #FFFFFF;
        opacity: 0.6;
        margin-bottom: 40px;
    }
    
    .footer_copy{
        margin-bottom: 32px;
    }
    
    .footer_bottom {
        padding: 32px 0px;
    }
    
    .footer_botton {
        font-size: 16px;
        line-height: 26px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.04em;
        color: #FFFFFF;
    }
    
    .footer_text {
        width: 100%;
    }
    
    .footer__list {
        margin-bottom: 18px;
    }
    
       }
    }
    
    